<h1>EvaluatorAccount verification</h1>
<p>Someone has attempted to register you on evaluator using this email.
<a href="https://metguc.in/#/verify?token=<%= @token %>">here</a> to verify account.
</p>
<p> If you are having trouble following that link just copy and paste this URL https://metguc.in/#/verify?token=<%= @token %> </p>

<p>If you did not regiter simply ignore this email</p>